<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="__CSS__/admin/bootstrap-theme.css" />
    <link rel="stylesheet" href="__CSS__/admin/bootstrap.css" />
    <link rel="stylesheet" href="__CSS__/admin/public.css" />
   <!-- <link rel="stylesheet" href="__CSS__/admin/patch.css" />-->
    <link rel="stylesheet" href="__CSS__/admin/docs.min.css" />
	<!--<link href="data:text/css;charset=utf-8," data-href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">-->
    <script type="text/javascript" src="__LIB__/js/jquery.min.js" ></script>
    <script type="text/javascript" src="__JS__/admin/bootstrap.min.js" ></script>
<!--    <script type="text/javascript" src="__JS__/admin/ie-emulation-modes-warning.js" ></script>-->
    <script type="text/javascript" src="__JS__/admin/docs.min.js" ></script>


</head>
<body>
