/* 头部样式 */
*{
	padding: 0;
	margin: 0; 
	font-family: "PingFang SC",Helvetica,Arial,"微软雅黑","黑体";
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	list-style-type:none;
    -webkit-font-smoothing: antialiased;
    text-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{text-decoration: none; color: #222; border: 0;}
img{border: 0;}
body{
	padding: 5px;
}
@font-face {font-family: 'iconfont';
    src: url('__PUBLIC__/iconfont.eot'); /* IE9*/
    src: url('__PUBLIC__/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('__PUBLIC__/iconfont.woff') format('woff'), /* chrome、firefox */
    url('__PUBLIC__/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('__PUBLIC__/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	background: #e4e4e4;
}
.zoomHeadDiv{
	height: 100px;
	position: relative;
}
.headImg{
	position: absolute;
	width: 70px;
	height: 70px;
	display: block;
	border: 1px solid #ccc;
	top: 18px;
	left: 5px;
	
}
.niceName{
	max-width: 8em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 82px;
	top: 28px;
	font-size: 14px;
}
.motto{
	max-width: 12em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	position: absolute;
	left: 82px;
	top: 60px;
	font-size: 12px;
}
.signIn{
	width: 50px;
	border: 1px solid #666;
	bottom: 10px;
	right: 5px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	padding: 2px 8px;
	border-radius: 3px;
	background: #0088BB;
	color: #fff;
}
.jifen{
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 12px;
	font-weight: bold;
}
.jifen font{
	font-weight: initial;
	color: blueviolet;
}
/* 头部样式 */
*{
	padding: 0;
	margin: 0; 
	font-family: "PingFang SC",Helvetica,Arial,"微软雅黑","黑体";
	-webkit-box-sizing: border-box;
    box-sizing: border-box;
	list-style-type:none;
    -webkit-font-smoothing: antialiased;
    text-shadow: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a{text-decoration: none; color: #222; border: 0;}
img{border: 0;}
body{
	padding: 5px;
}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
header{
	background: #e4e4e4;
}
.zoomHeadDiv{
	height: 100px;
	position: relative;
}
.headImg{
	position: absolute;
	width: 70px;
	height: 70px;
	display: block;
	border: 1px solid #ccc;
	top: 18px;
	left: 5px;
	
}
.niceName{
	max-width: 8em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	left: 82px;
	top: 28px;
	font-size: 14px;
}
.motto{
	max-width: 12em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	position: absolute;
	left: 82px;
	top: 60px;
	font-size: 12px;
}
.signIn{
	width: 50px;
	border: 1px solid #666;
	bottom: 10px;
	right: 5px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	padding: 2px 8px;
	border-radius: 3px;
	background: #0088BB;
	color: #fff;
}
.jifen{
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 12px;
	font-weight: bold;
}
.jifen font{
	font-weight: initial;
	color: blueviolet;
}
