<!DOCTYPE html>
<html>
<head>
    <title>我的爱秀空间</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="__CSS__/home/iconfont.css" />
    <link rel="stylesheet" href="__CSS__/home/fontStyle.css" />
    <link rel="stylesheet" href="__CSS__/myZoomHeader.css" />

    <script type="text/javascript" src="__JS__/lib/js/jquery.min.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/lib/js/fastclick.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/home/common.js" ></script>

</head>
<body>
<header>
    <div class="zoomHeadDiv">
        <a href="myZoom.php?userId=12"><img class="headImg" src="{$avatar}"/></a>
        <p class="niceName">{$niceName}</p>
        <p class="motto">欢迎来到爱秀网，嘻嘻嘻~</p>
        <p class="signIn" onclick="sign(event)">签到</p>
        <p class="jifen">积分：<font>{$jifen}</font>分</p>
    </div>
</header>
