<layout name="Layout/Default/col" />
<style>
.incomeTop{
	height: 50px;
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #EBEBEB;
	font-size: 14px;
	line-height: 50px;
	padding: 0 8px;
	color: #222;
	background: #f8f8f8;
}
.incomeTop font{
	color: red;
	font-size: 20px;
	padding: 0 8px 0 0;
}
.myIncomeUl{
	background: #EBEBEB;
}
.myIncomeLi{
	background: #fff;
	margin-bottom: 20px;
}
.myIncome .myIncome-Top{
	background: darkgoldenrod;
	padding: 10px 8px;
	color: #222;
}

.myIncomeLiTop{
	font-size: 16px;
	padding: 5px 8px;
}
.friendName{
	font-size: 14px;
}
.incomeInfo{
	position: relative;
	padding: 5px 8px;
	background: #f8f8f8;
}
.incomeInfo .secretImg{
	width: 50px;
	height: 50px;
	
}
.secretName{
	max-width: 150px;
	max-height: 32px;
	position: absolute;
	top: 14px;
	left: 70px;
	font-size: 12px;
}
.secretValue{
	max-width: 50px;
	color: red;
	float: right;
	margin-top: 10px;
	margin-right: 8px;
	font-size: 14px;
}
.payTime{
	text-align: right;
	font-size: 11px;
	color: #777;
	padding-right: 8px;
}
.toukui{
	float: right;
	color: #888;
	font-size: 14px;
}
.moreTip{
	text-align: center;
	font-size: 14px;
	height: 50px;
	color: #666;
}

</style>
<p class="incomeTop">Wo收到的“赏金”：<font>{$totalIncome}</font>元</p>
<ul class="myIncomeUl"></ul>
<p class="moreTip">更多内容</p>
<script>
$(function(){
	var nowPage = 1;
	var num = 8;
	$(".myIncomeUl").empty();
	getIncomeList(num,nowPage);
	/**************************数据动态加载——开始*************************/   	
   	var winH = $(window).height(); //页面可视区域高度   	  
    var scrollHandler = function(){  
        var pageH = $(document.body).height();  
        var scrollT = $(window).scrollTop(); //滚动条top   
        var aa = (pageH-winH-scrollT)/winH;
        if(aa<0.1){
           	getIncomeList(num,(++nowPage));
        }       
    };
    //定义鼠标滚动事件  
    $(window).scroll(scrollHandler);  	
	/**************************数据动态加载——结束*************************/	
});

function getIncomeList(num,page){
	var str='{num:'+num+',page:'+page+'}';
	var reqJson = eval('('+str+')');
	
	$.post('__URL__/incomeListRest',reqJson,
		function(data){
			if(data.status==0){
				//alert("成功！"+data.num);
				var info=data.info;
				for(var i=0;i<info.length;i++){
					var myIncomeLiHtml='<li class="myIncomeLi"><div class="myIncomeLiTop"><i class="icon iconfont"></i>'
					+'<a class="friendName" href="friendsZoom.php?userId=128">'+info[i]["visiter"]+'（<font>wx43256519</font>）</a>'
					+'<a class="toukui">偷窥了</a></div><div class="incomeInfo"><a href="__URL__/mySecretImgDetail/secretId/'+info[i]["secretID"]+'">'
					+'<img class="secretImg" src="'+info[i]["secretImgUrl"]+'"></a><a href="__URL__/mySecretImgDetail/secretId/'+info[i]["secretID"]+'" class="secretName">'
					+info[i]["secretTitle"]+'</a><p class="secretValue">¥'+info[i]["secretValue"]+'</p></div>'
					+'<p class="payTime">'+info[i]["visitTime"]+'</p></li>';
					
					$('.myIncomeUl').append(myIncomeLiHtml);
				}
	
			}else{
				alert("失败！");
			}
		},
	"json");
}
</script>

