<layout name="Layout/Default/col" />
<style>
.mySecretsTop{
	height: 50px;
	border-bottom:1px solid #EBEBEB;
	border-top:1px solid #EBEBEB;
	font-size: 14px;
	line-height: 50px;
	padding: 0 8px;
	color: #222;
	background: #f8f8f8;
}
.mySecretsTop font{
	color: red;
	font-size: 20px;
	padding: 0 8px 0 0;
}
.mySecretUl{
	list-style: none;
	margin-bottom: 20px;
	background: #EBEBEB;
}
.mySecretUl li{
	height: 68px;
	width: 98%;
	margin: 0 auto 30px auto;
	position: relative;
	font-size: 14px;
	font-family: "微软雅黑";
	background: #fff;
}
.mySecretUl li img{
	float: left;
	width: 80px;
	height: 68px;
}
.mySecretUl li p.secretName{
	position: absolute;
	left: 88px;
	top: 20px;
	max-width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}
.mySecretUl li p.secretName a{
	color: #456BBB;
}
.mySecretUl li .secretInfo{
	overflow: hidden;
}
.mySecretUl li p.btns{
	background: #fff;
	overflow: hidden;
}
.mySecretUl li p.btns button{
	margin-left: 15px;
	float: right;
}

.mySecretUl li p.secretTime{
	position: absolute;
	left: 88px;
	top: 45px;
	max-width: 60%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 12px;
	color: #888;
}
.moreTip{
	text-align: center;
	font-size: 14px;
	height: 50px;
	color: #666;
}
.viewBtn{
	padding: 3px 10px;
	font-size: 12px;
	border: 1px solid #005599;
	float: right;
	margin-top: 20px;
	margin-right: 8px;
	border-radius: 3px;
}


</style>
<p class="mySecretsTop">Wo发表过的：<font>{$count}</font>篇</p>
<ul class="mySecretUl"></ul>
<p class="moreTip">更多内容</p>

<script>
$(function(){
	var nowPage = 1;
	var num = 8;
	$(".myIncomeUl").empty();
	getPublishList(num,nowPage);
	/**************************数据动态加载——开始*************************/   	
   	var winH = $(window).height(); //页面可视区域高度   	  
    var scrollHandler = function(){  
        var pageH = $(document.body).height();  
        var scrollT = $(window).scrollTop(); //滚动条top   
        var aa = (pageH-winH-scrollT)/winH;
        if(aa<0.1){
           	getPublishList(num,(++nowPage));
        }       
    };
    //定义鼠标滚动事件  
    $(window).scroll(scrollHandler); 	   	
	/**************************数据动态加载——结束*************************/	
});

function getPublishList(num,page){
	var str='{num:'+num+',page:'+page+'}';
	var reqJson = eval('('+str+')');

	$.post('__URL__/publishedListRest',reqJson,
		function(data){
			if(data.status==0){
				//alert("成功！"+data.num);
				var info=data.info;
				for(var i=0;i<info.length;i++){
					var myPublishLiHtml='<li class="mySecretLi"><div class="secretInfo">'
					+'<a href="__URL__/mySecretImgDetail/secretId/'+info[i]["secretID"]+'"><img src="'+info[i]["secretImgUrl"]+'"></a>'
					+'<p class="secretName"><a href="__URL__/mySecretImgDetail/secretId/'+info[i]["secretID"]+'">'+info[i]["secretTitle"]+'</a></p>'
					+'<p class="secretTime">'+info[i]["publishTime"]+'</p>'
					+'<a class="viewBtn" href="__URL__/mySecretImgDetail/secretId/'+info[i]["secretID"]+'">查看</a></div></li>';
					
					$('.mySecretUl').append(myPublishLiHtml);
				}
	
			}else{
				alert("失败！");
			}
		},
	"json");
}


</script>
