<!DOCTYPE html>
<html>
<head>
<title>欢迎来到蚂蚁秀秀</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-touch-fullscreen" content="yes">
<meta HTTP-EQUIV="pragma" CONTENT="no-cache"> 
<meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<meta HTTP-EQUIV="expires" CONTENT="0"> 
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<style>
.{margin: 0; padding: 0;}
.ewmBox{
	width: 96%;
	margin: 100px auto;
}
.ewmBox img{
	width: 100%;
}
</style>
</head>
<body>

<div class="ewmBox">
	<img src="__PUBLIC__/img/weixinMP.png" />
</div>




</body>
</html>
